<!-- <app-nova-transferencia
></app-nova-transferencia>

<app-extrato></app-extrato>
 -->
<header>
  <a routerLink="extrato" routerLinkActive="ativo">Bytebank</a><!-- routerLink="" recebe o valor que representa a rota (o path) a um determinado componente-->
  <a routerLink="nova-transferencia" routerLinkActive="ativo">Nova transferência</a><!-- routerLinkActive="" aciona uma classe css quando a rota estiver ativa e "remove" o link para a mesma página-->
</header>
<main>
  <router-outlet></router-outlet><!-- exibe o elemento com base na rota selecionada -->
</main>
